.bundle
lib/generators
lib/templates
config/database.yml
config/*.sphinx.conf
config/s3_credentials.yml
coverage/*
db/schema.rb
db/cstore/**
db/sphinx/**
db/*.sqlite3
doc/api
doc/app
doc/plugins
doc/*.dot
tmp/**/*
public/system/*
*.swp
*.svn
*~
*.cache
*.log
*.pid
.DS_Store
*.tmproj
